html{
	background-color:black;
}
body{
	background-color: inherit;
	height:100%;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
}
.navbar{
	height: 8%;
	margin-bottom:0px;
}
.navbar-transparent{
	border-top:none;
	border-bottom: 2px solid rgba(255,255,255,.5);/*white 50% transparent*/
}
.navbar-transparent .navbar-brand{
	font-size:2em;
	font-family: 'Philosopher',sans-serif;
}

#tabcontainer{
	height:92%;
	background-color: black;
	color:white;
}
#tabcontainer > div{
	height:100%;
}
#tabcontainer > div p{
	padding-top: 2vh;
	padding-right: 20%;
	padding-left: 20%;
	font-size: 1.5em;

}
#home{
	background-color:black;
}
.topHeading{
	padding-top:2vh;
}