html
	head
		title Hyperion Solar Team
		link(rel='stylesheet',type='text/css',href='css/bootstrap.min.css')
		link(href='https://fonts.googleapis.com/css?family=Philosopher:700italic',rel='stylesheet',type='text/css')
		link(rel='stylesheet',type='text/css',href='css/main.css')
	body
		nav.navbar.navbar-transparent
			div.container-fluid
				div.navbar-header
					button(type="button",data-toggle="collapse",data-target=".navbar-main-collapse").navbar-toggle
						<i class="fa fa-bars"></i>
					a(href="#home").navbar-brand.page-scroll.internal Hyperion
						//<i class="glyphicon glyphicon-home"></i>
				div.collapse.navbar-collapse.navbar-right.navbar-main-collapse
					ul.nav.navbar-nav
						//li.hidden
						//	a(href="#page-top")
						li
							a(href="#about").internal About the Team
						li
							a(href="#mission").internal Our Mission
						li
							a(href="#contact").internal Contact Us
		div#tabcontainer
			div#home
			div#mission
				h1.text-center Our Mission
				p.
					The Middlesex County Academy (MCA) Solar Car Team is committed to competing annually in the Solar Car Challenge, a solar car race for high schools. The Solar Car Challenge provides students with an opportunity to gain hands-on experience in STEM – science, technology, engineering, and mathematics – as they work on designing and building a solar powered car. Additionally, as the first team from New Jersey, the MCA Solar Car Team is dedicated to raising awareness for the Solar Car Challenge and encouraging more schools from New Jersey to participate. By combining competition and education, the MCA Solar Car Team seeks to raise the bar for achievement in New Jersey and set an example for other schools to follow.

			div#about
				h3.text-center.topHeading Who Are We?
			div#contact
				h4.text-center.topHeading Reach us at <a href="mailto:mcvts.solar@gmail.com">mcvts.solar@gmail.com</a>
		script(src="js/jquery-1.11.0.js")
		script(src="js/bootstrap.min.js")
		script(src="js/nav.js")
		script(src="js/three.min.js")
		script(src="js/STLLoader.js")
		script(src="js/OrbitControls.js")
		script(src="js/eos.js")